* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */
.primary-color {
    color: rgb(13, 19, 33);
}

.banner-section {
    width: 100%;
    max-width: 1353px;
    height: 560px;
    margin: 50 auto;
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
}

.banner-container {
    width: 100%;
    max-width: 938px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.banner-container img {
    width: 200px;
    height: 200px;
}

.banner-title {
    width: 100%;
    font-size: 38px;
    font-weight: 800;
    margin: 20px 0px;
    line-height: 40px;

}

.banner-title span {
    display: inline-block;
    margin-top: 12px;
}

.banner-description {
    font-size: 16px;
    line-height: 20px;
}

.banner-container .contact-btn {
    width: 195px;
    padding: 16px 20px;
    margin: 12px 18px;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

/* why-web-development-section */
.why-development-section {
    width: 1070px;
    height: 1312px;
    margin: 70px auto;
    text-align: center;

}

.development-title {
    font-size: 34px;
    font-weight: 800;
    line-height: 26px;
    margin-bottom: 24px;
}

.development-content {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}

.web-card-containers {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.web-card {
    max-width: 946px;
    height: 340px;
    padding: 40px;
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.web-card img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.web-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    text-align: left;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.card-content {
    font-size: 16px;
    line-height: 26px;
    color: #0D1321;
}

.web-content button {
    width: 150px;
    text-align: center;
    padding: 12px 20px;
    margin: 32px 0px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}